.pvp-info {
  width: 100%;
}
.competitive-battle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.battle-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.gray-box {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-right: 1px solid #ccc;
}
.test-box {
  position: relative;
  width: 180px;
  height: 110px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-right: 1px solid #ccc;
  padding: 20px;
  border: 1px solid #15171c;
}

.chart-container {
  width: 100px;
  height: 100px;
}

#teamDeathmatchVictoryRateChart {
  width: 100%;
  height: 100%;
}

.right {
  width: 50%;
  float: right;
  margin-right: 25px;
  margin-left: 10px;
  margin-top: 25px;
}
.lostark-pc .profile-ingame {
  clear: both;
  display: flex;
  position: relative;
  min-height: 829px;
  padding: 10px 40px;
  background-color: #f5f7f7;
  justify-content : center;
}

.lostark-profile .profile-character-info {
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  z-index: 4;
}

.lostark-profile .profile-character-info .profile-character-info__server {
  font-size: 18px;
  color: #b178ff;
}

.lostark-pc .left {
  flex: 0 0 248px;
  max-width: 248px;
  min-height: 829px;
  background-color: #1b1e24;
  margin-top: 25px;
  border-radius: 6px;
}

.canvas {
  width: 100%;
  height: 100%;
}
.horizontal-container {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #363940;
  line-height: 44px;
  font-size: 18px;
  font-weight: 400;
  color: #8089ad;
}
h2 {
  margin-right: 20px;
}
.lostark-pc .left .level-info {
  margin: 0;
  padding: 34px 14px;
}
.lostark-pc .left .level-info > div {
  float: left;
  width: 50%;
  text-align: center;
}
.lostark-pc .left .level-info > div span:first-of-type {
  display: block;
  width: 70px;
  height: 23px;
  margin: 0 auto 4px;
  background-color: #15171c;
  line-height: 23px;
  border-radius: 12px;
  text-align: center;
  color: #666;
  font-size: 13px;
}
.lostark-pc .left .level-info > div span:nth-of-type(2) {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}
.lostark-pc .left .level-info > div span:nth-of-type(2) small {
  font-size: 14px;
  font-weight: 400;
}
.lostark-pc .level-info2 {
  margin: 0;
  padding: 34px 14px;
}

.lostark-pc .left .level-info2 > div span:first-of-type {
  display: block;
  width: 120px;
  height: 23px;
  margin: 0 auto 4px;
  background-color: #15171c;
  line-height: 23px;
  border-radius: 12px;
  text-align: center;
  color: #666;
  font-size: 13px;
}
.lostark-pc
  .left
  .level-info2
  > div.level-info2__expedition
  span:nth-of-type(2) {
  font-size: 31px;
  color: #ff009b;
}
.lostark-pc .left .level-info2 > div {
  text-align: center;
}
.lostark-pc .left .level-info2 > div.level-info2__item {
  padding-top: 20px;
}

.lostark-pc .left .level-info2 > div span:first-of-type {
  display: block;
  width: 120px;
  height: 23px;
  margin: 0 auto 4px;
  background-color: #15171c;
  line-height: 23px;
  border-radius: 12px;
  text-align: center;
  color: #666;
  font-size: 13px;
}

.lostark-pc .left .level-info2 > div.level-info2__item span:nth-of-type(2) {
  font-size: 20px;
  color: #f7b838;
}

.lostark-pc .profile-info > div {
  border-top: 1px solid #252931;
}

.lostark-pc .left .game-info {
  position: relative;
  padding: 30px 0 30px 14px;
  box-sizing: border-box;
}

.lostark-pc .left .game-info > div {
  height: 23px;
  margin-bottom: 9px;
  line-height: 23px;
  font-size: 14px;
  color: #fff;
}

.lostark-pc .left .game-info > div span:first-of-type {
  display: inline-block;
  width: 53px;
  margin-right: 10px;
  background-color: #15171c;
  border-radius: 12px;
  text-align: center;
  color: #666;
  font-size: 13px;
}
.lostark-pc .profile-info .game-info>div.game-info__wisdom {
  display: block;
  height: auto;
}
.lostark-pc .profile-info .game-info>div.game-info__wisdom span:first-of-type {
  float: left;
  width: 53px;
  padding: 15px 0;
  margin-right: 10px;
  background-color: #15171c;
  border-radius: 12px;
  text-align: center;
  color: #666;
  font-size: 13px;
  font-weight: 400;
}
.lostark-pc .profile-info .game-info>div.game-info__wisdom span {
  display: block;
  overflow: hidden;
  font-size: 22px;
  font-weight: 700;
}
.lostark-pc .profile-info .game-info>div.game-info__wisdom span:last-child {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}
.FooterComponent {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid var(--base-colors-light-gray, #e4e4e7);
  margin-top: 25px;
  width: 350px;
  height: 800px;
}

.FooterComponent h2 {
  margin: 0px;
}

.testtest {
  width: 248px;
  height: 270px;
  overflow: hidden;
  display: flex;
  position: relative;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.testtest .image-wrapper {
  position: relative;
  overflow: hidden;
}

.testtest .image-wrapper img {
  width: 355px;
  display: block;
}

.testtest .image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(to left, rgba(204, 204, 204, 0) 0%, #ccc 100%); 
  z-index: 1;
}

.testtest .gray-background {
  flex: 1;
  background-color: #ccc; 
}


.testtest .image-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.testtest {
  width: 248px;
  height: 270px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.testtest .image-wrapper {
  position: relative;
  overflow: hidden;
}

.testtest .image-wrapper img {
  width: 355px;
  display: block;
}

.testtest .image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(to left, rgba(204, 204, 204, 0) 0%, #ccc 100%); 
  z-index: 1;
}

.testtest .gray-background {
  flex: 1;
  background-color: #ccc; 
}


.testtest .image-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
