.HeaderComponent {
  background-color: #ffffff;
  border: 1px solid var(--base-colors-light-gray, #e4e4e7);
}

.HeaderComponent a {
  text-decoration: none;
  color: inherit;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

.HeaderContainer span {
  font-size: 25px;
  margin-right: 25px;
}

.HeaderNav {
  display: flex;
  gap: 25px;
}
