body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

p {
  margin: 0px;
}

.formFirst {
  display: flex;
}

.formSec {
  display: flex;
}

.formThird {
  display: flex;
}

div {
  margin-top: 10px;
}

input {
  margin-right: 10px;
}
